In [1]:
import pandas as pd

In [2]:
importaciones = pd.read_excel('./Data/IMPORTACION-VOLUMEN-2023-05.xlsx', skiprows=6)

In [7]:
precios = pd.read_excel('./Data/Precios-Promedio-Nacionales-Diarios-2023.xlsx', skiprows=8)

In [9]:
consumo = pd.read_excel('./Data/CONSUMO-2023-05.xlsx', skiprows=6)

In [3]:
importaciones.sample(n=5)

,Fecha,Aceites lubricantes,Asfalto,Bunker,Ceras,Combustible turbo jet,Diesel bajo azufre,Diesel ultra bajo azufre,Gas licuado de petróleo,Gasolina de aviación,...,Naftas,Petcoke,Petróleo crudo,Solventes,Butano,Diesel alto azufre,MTBE,Orimulsión,Petróleo reconstituido,Total importación
88,2008-05-01 00:00:00,0.00,17890.00000,848575.95,0.0,0.00,0.00,0.00,506589.785714,3093.20,...,0.00,150762.095,0.00,0.00,0.0,710464.76,0.0,0.0,0.0,2.969532e+06
258,2022-07-01 00:00:00,27423.74,5231.10000,86469.36,286.0,55357.83,1116548.97,25727.21,717652.720000,1301.96,...,256.92,0.000,1604.92,10938.76,0.0,0.00,0.0,0.0,0.0,3.654794e+06
49,2005-02-01 00:00:00,0.00,13495.30000,303067.68,0.0,0.00,0.00,0.00,179212.810524,0.00,...,0.00,0.000,0.00,0.00,0.0,683664.39,0.0,0.0,0.0,1.726789e+06
248,2021-09-01 00:00:00,25507.27,2285.90000,107267.84,243.6,38914.43,896539.24,0.00,689829.470000,0.00,...,28.00,215709.340,0.00,1993.73,0.0,0.00,0.0,0.0,0.0,3.470994e+06
130,2011-11-01 00:00:00,0.00,11408.52381,203510.32,0.0,0.00,0.00,0.00,384368.357143,0.00,...,0.00,0.000,0.00,0.00,0.0,575406.48,0.0,0.0,0.0,1.908439e+06

In [8]:
precios.head()

,Unnamed: 0,GTQ/USD,GTQ/GALON,GTQ/GALON.1,GTQ/GALON.2,GTQ/GALON.3,GTQ/CIL 25 LB,GTQ/LB
0,2023-01-01 00:00:00,7.85222,32.55,30.99,33.75,15.99,122.0,4.88
1,2023-01-02 00:00:00,7.85222,32.55,30.99,33.75,15.99,122.0,4.88
2,2023-01-03 00:00:00,7.84773,32.56,31.42,35.31,16.39,122.0,4.88
3,2023-01-04 00:00:00,7.84906,32.56,31.42,35.31,16.39,122.0,4.88
4,2023-01-05 00:00:00,7.85221,32.56,31.42,35.31,16.39,122.0,4.88

In [10]:
consumo.head()

,Fecha,Aceites lubricantes,Asfalto,Bunker,Ceras,Combustible turbo jet,Diesel bajo azufre,Diesel ultra bajo azufre,Gas licuado de petróleo,Gasolina de aviación,...,Kerosina,Mezclas\noleosas,Naftas,PetCoke,Petróleo crudo,Solventes,Butano,Diesel alto azufre,Orimulsión,Total
0,2000-01-01 00:00:00,0.0,48446.0,296766.99,0.0,0.0,0.0,0.0,194410.476190,1426.0,...,64026.09,0.0,0.0,0.0,0.0,0.0,0.0,634667.06,0.0,1.750545e+06
1,2000-02-01 00:00:00,0.0,50597.0,328116.44,0.0,0.0,0.0,0.0,174710.552381,1458.0,...,62660.30,0.0,0.0,0.0,0.0,0.0,0.0,642380.66,0.0,1.773220e+06
2,2000-03-01 00:00:00,0.0,27593.0,368589.63,0.0,0.0,0.0,0.0,189234.066667,1503.0,...,61361.99,0.0,0.0,0.0,0.0,0.0,0.0,699807.25,0.0,1.909499e+06
3,2000-04-01 00:00:00,0.0,53794.0,396300.47,0.0,0.0,0.0,0.0,174330.607143,1561.0,...,61814.32,0.0,0.0,0.0,0.0,0.0,0.0,586803.98,0.0,1.800933e+06
4,2000-05-01 00:00:00,0.0,60137.0,449368.92,0.0,0.0,0.0,0.0,191745.147619,1642.0,...,54098.32,0.0,0.0,0.0,0.0,0.0,0.0,656948.20,0.0,1.941772e+06