<h1 style="text-align:center;">lab2</h1>
<h4 style="text-align:center;">Cristopher Barrios, Josue Sagastume</h4>
<h5 style="text-align:center;">4/8/2023</h5>

In [94]:
import pandas as pd

## Explorando datos

In [95]:
importaciones = pd.read_excel('./Data/IMPORTACION-VOLUMEN-2023-05.xlsx', skiprows=6)
consumo = pd.read_excel('./Data/CONSUMO-2023-05.xlsx', skiprows=6)
precios_2023 = pd.read_excel('./Data/Precios-Promedio-Nacionales-Diarios-2023.xlsx', sheet_name=0, skiprows=7)
precios_2022 = pd.read_excel('./Data/Precios-Promedio-Nacionales-Diarios-2023.xlsx', sheet_name=1, skiprows=6)
precios_2021 = pd.read_excel('./Data/Precios-Promedio-Nacionales-Diarios-2023.xlsx', sheet_name=2, skiprows=6)

## columnas

In [96]:
print("importaciones")
print(importaciones.columns)
print("consumo")
print(consumo.columns)
print("precios 2023")
print(precios_2023.columns)
print("precios 2022")
print(precios_2022.columns)
print("precios 2021")
print(precios_2021.columns)

importaciones
Index(['Fecha', 'Aceites lubricantes', 'Asfalto ', 'Bunker', 'Ceras',
       'Combustible turbo jet', 'Diesel bajo azufre',
       'Diesel ultra bajo azufre', 'Gas licuado de petróleo',
       'Gasolina de aviación', 'Gasolina regular', 'Gasolina superior',
       'Grasas lubricantes', 'Kerosina', 'Mezclas oleosas', 'Naftas',
       'Petcoke', 'Petróleo crudo', 'Solventes', 'Butano',
       'Diesel alto azufre', 'MTBE', 'Orimulsión', 'Petróleo reconstituido',
       'Total importación'],
      dtype='object')
consumo
Index(['Fecha', 'Aceites lubricantes', 'Asfalto', 'Bunker', 'Ceras',
       'Combustible turbo jet', 'Diesel bajo azufre',
       'Diesel ultra bajo azufre', 'Gas licuado de petróleo',
       'Gasolina de aviación', 'Gasolina regular', 'Gasolina superior',
       'Grasas lubricantes', 'Kerosina', 'Mezclas\noleosas', 'Naftas',
       'PetCoke', 'Petróleo crudo', 'Solventes', 'Butano',
       'Diesel alto azufre', 'Orimulsión', 'Total'],
      dtype='object')
precios 2023
Index(['FECHA', 'Tipo de Cambio', 'Superior', 'Regular', 'Diesel', 'Bunker',
       'Glp Cilindro 25Lbs.', 'Unnamed: 7'],
      dtype='object')
precios 2022
Index(['FECHA', 'Tipo de Cambio', 'Superior', 'Regular', 'Diesel', 'Bunker',
       'Glp Cilindro 25Lbs.', 'Unnamed: 7'],
      dtype='object')
precios 2021
Index(['FECHA', 'Tipo de Cambio', 'Superior', 'Regular', 'Diesel', 'Bunker',
       'Glp Cilindro 25Lbs.', 'Unnamed: 7'],
      dtype='object')

In [97]:
importaciones.head()

,Fecha,Aceites lubricantes,Asfalto,Bunker,Ceras,Combustible turbo jet,Diesel bajo azufre,Diesel ultra bajo azufre,Gas licuado de petróleo,Gasolina de aviación,...,Naftas,Petcoke,Petróleo crudo,Solventes,Butano,Diesel alto azufre,MTBE,Orimulsión,Petróleo reconstituido,Total importación
0,2001-01-01 00:00:00,0.0,27748.99,214581.84,0.0,0.0,0.0,0.0,194065.738095,820.0,...,0.0,0.0,0.0,0.0,0.0,566101.99,8402.0,0.0,715344.0,2.312639e+06
1,2001-02-01 00:00:00,0.0,7503.57,294609.00,0.0,0.0,0.0,0.0,170703.380952,3054.0,...,0.0,0.0,0.0,0.0,0.0,489525.80,0.0,0.0,370166.0,1.769209e+06
2,2001-03-01 00:00:00,0.0,26304.32,315263.80,0.0,0.0,0.0,0.0,161837.371429,677.0,...,0.0,0.0,0.0,0.0,0.0,575559.68,0.0,0.0,360530.0,1.945770e+06
3,2001-04-01 00:00:00,0.0,7885.89,205653.00,0.0,0.0,0.0,0.0,163048.642857,3399.0,...,0.0,0.0,0.0,0.0,0.0,437745.42,8184.0,0.0,359527.0,1.623638e+06
4,2001-05-01 00:00:00,0.0,8443.16,278371.30,0.0,0.0,0.0,0.0,171518.861905,585.0,...,0.0,0.0,0.0,0.0,0.0,552609.13,12680.0,0.0,723346.0,2.262727e+06

In [98]:
print(precios_2023.head())

                 FECHA Tipo de Cambio   Superior    Regular     Diesel  \
0                  NaN        GTQ/USD  GTQ/GALON  GTQ/GALON  GTQ/GALON
1  2023-01-01 00:00:00        7.85222      32.55      30.99      33.75
2  2023-01-02 00:00:00        7.85222      32.55      30.99      33.75
3  2023-01-03 00:00:00        7.84773      32.56      31.42      35.31
4  2023-01-04 00:00:00        7.84906      32.56      31.42      35.31

      Bunker Glp Cilindro 25Lbs. Unnamed: 7
0  GTQ/GALON       GTQ/CIL 25 LB     GTQ/LB
1      15.99                 122       4.88
2      15.99                 122       4.88
3      16.39                 122       4.88
4      16.39                 122       4.88

In [99]:
precios_2022.head()

,FECHA,Tipo de Cambio,Superior,Regular,Diesel,Bunker,Glp Cilindro 25Lbs.,Unnamed: 7
0,NaN,GTQ/USD,GTQ/GALON,GTQ/GALON,GTQ/GALON,GTQ/GALON,GTQ/CIL 25 LB,GTQ/LB
1,2022-01-01 00:00:00,7.71912,28.69,27.91,24.51,17.28,122,4.88
2,2022-01-02 00:00:00,7.71912,28.69,27.91,24.51,17.28,122,4.88
3,2022-01-03 00:00:00,7.71912,28.79,27.99,24.6,17.91,122,4.88
4,2022-01-04 00:00:00,7.71745,28.79,27.99,24.6,17.91,122,4.88

In [100]:
precios_2021.head()

,FECHA,Tipo de Cambio,Superior,Regular,Diesel,Bunker,Glp Cilindro 25Lbs.,Unnamed: 7
0,NaN,GTQ/USD,GTQ/GALON,GTQ/GALON,GTQ/GALON,GTQ/GALON,GTQ/CIL 25 LB,GTQ/LB
1,2021-01-01 00:00:00,7.79382,21.91,21.11,17.61,13.4,99,3.96
2,2021-01-02 00:00:00,7.79382,21.91,21.11,17.61,13.4,99,3.96
3,2021-01-03 00:00:00,7.79382,21.91,21.11,17.61,13.4,99,3.96
4,2021-01-04 00:00:00,7.79417,21.91,21.11,17.61,13.45,99,3.96

## Arreglando los datos

In [101]:
importaciones.rename(columns={'Gasolina superior': 'Superior','Gasolina regular': 'Regular'}, inplace=True)
consumo.rename(columns={'Gasolina superior': 'Superior','Gasolina regular': 'Regular'}, inplace=True)

In [102]:
Relevantes=['Fecha', 'Superior', 'Regular', 'Diesel alto azufre']
SinFecha=['Gasolina superior', 'Gasolina regular', 'Diesel alto azufre']
consumas = consumo[Relevantes]
importas = importaciones[Relevantes]


# a partir de la linea 288 para consumo ya no se toma en relevancia
# para importaciones 276
consumo = consumo[:288]
importaciones = importaciones[:276]
consumas = consumas[:270]
importas = importas[:270]

In [103]:
consumas.head()

                 Fecha   Superior    Regular  Diesel alto azufre
0  2000-01-01 00:00:00  308156.82  202645.20           634667.06
1  2000-02-01 00:00:00  307766.31  205530.96           642380.66
2  2000-03-01 00:00:00  331910.29  229499.56           699807.25
3  2000-04-01 00:00:00  315648.08  210680.40           586803.98
4  2000-05-01 00:00:00  319667.97  208164.34           656948.20

In [104]:
importas.head()

                 Fecha   Superior    Regular  Diesel alto azufre
0  2001-01-01 00:00:00  373963.96  177776.50           566101.99
1  2001-02-01 00:00:00  243091.07  123115.99           489525.80
2  2001-03-01 00:00:00  312084.38  161726.42           575559.68
3  2001-04-01 00:00:00  285054.89  127338.74           437745.42
4  2001-05-01 00:00:00  300913.67  168730.19           552609.13

In [105]:
consumas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fecha               270 non-null    object
 1   Superior            270 non-null    float64
 2   Regular             270 non-null    float64
 3   Diesel alto azufre  270 non-null    float64
dtypes: float64(3), object(1)
memory usage: 8.6+ KB

In [106]:
importas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fecha               269 non-null    object
 1   Superior            269 non-null    float64
 2   Regular             269 non-null    float64
 3   Diesel alto azufre  269 non-null    float64
dtypes: float64(3), object(1)
memory usage: 8.6+ KB

## Ahora precios

In [107]:
# Obtener los valores de la fila 0 (nombres de columna alternativos)
nombres_columnas_fila_0 = precios_2023.iloc[0]

# Crear nuevos nombres de columna combinando los nombres actuales con los de la fila 0
nuevos_nombres_columnas = [f"{nombre_actual} ({nombre_fila_0})"
                            if isinstance(nombre_fila_0, str) else nombre_actual
                            for nombre_actual, nombre_fila_0 in zip(precios_2023.columns, nombres_columnas_fila_0)]

# Asignar los nuevos nombres de columna al DataFrame (omitir la primera fila)
precios_2023.columns = nuevos_nombres_columnas
precios_2023 = precios_2023[1:].reset_index(drop=True)

# Cambiando el nombre de la ultima columna
precios_2023.rename(columns={'Unnamed: 7 (GTQ/LB)': 'Glp Cilindro 25Lbs. 7 (GTQ/LB)'}, inplace=True)

In [108]:
precios_2023.head()

,FECHA,Tipo de Cambio (GTQ/USD),Superior (GTQ/GALON),Regular (GTQ/GALON),Diesel (GTQ/GALON),Bunker (GTQ/GALON),Glp Cilindro 25Lbs. (GTQ/CIL 25 LB),Glp Cilindro 25Lbs. 7 (GTQ/LB)
0,2023-01-01 00:00:00,7.85222,32.55,30.99,33.75,15.99,122,4.88
1,2023-01-02 00:00:00,7.85222,32.55,30.99,33.75,15.99,122,4.88
2,2023-01-03 00:00:00,7.84773,32.56,31.42,35.31,16.39,122,4.88
3,2023-01-04 00:00:00,7.84906,32.56,31.42,35.31,16.39,122,4.88
4,2023-01-05 00:00:00,7.85221,32.56,31.42,35.31,16.39,122,4.88