<h1 style="text-align:center;">lab2</h1>
<h4 style="text-align:center;">Cristopher Barrios, Josue Sagastume</h4>
<h5 style="text-align:center;">4/8/2023</h5>

In [5]:
import pandas as pd

## Explorando datos

In [15]:
importaciones = pd.read_excel('./Data/IMPORTACION-VOLUMEN-2023-05.xlsx', skiprows=6)
consumo = pd.read_excel('./Data/CONSUMO-2023-05.xlsx', skiprows=6)
precios = pd.read_excel('./Data/Precios-Promedio-Nacionales-Diarios-2023.xlsx', skiprows=8)

## columnas

In [18]:
print("importaciones")
print(importaciones.columns)
print("consumo")
print(consumo.columns)
print("precios")
print(precios.columns)

importaciones
Index(['Fecha', 'Aceites lubricantes', 'Asfalto ', 'Bunker', 'Ceras',
       'Combustible turbo jet', 'Diesel bajo azufre',
       'Diesel ultra bajo azufre', 'Gas licuado de petróleo',
       'Gasolina de aviación', 'Gasolina regular', 'Gasolina superior',
       'Grasas lubricantes', 'Kerosina', 'Mezclas oleosas', 'Naftas',
       'Petcoke', 'Petróleo crudo', 'Solventes', 'Butano',
       'Diesel alto azufre', 'MTBE', 'Orimulsión', 'Petróleo reconstituido',
       'Total importación'],
      dtype='object')
consumo
Index(['Fecha', 'Aceites lubricantes', 'Asfalto', 'Bunker', 'Ceras',
       'Combustible turbo jet', 'Diesel bajo azufre',
       'Diesel ultra bajo azufre', 'Gas licuado de petróleo',
       'Gasolina de aviación', 'Gasolina regular', 'Gasolina superior',
       'Grasas lubricantes', 'Kerosina', 'Mezclas\noleosas', 'Naftas',
       'PetCoke', 'Petróleo crudo', 'Solventes', 'Butano',
       'Diesel alto azufre', 'Orimulsión', 'Total'],
      dtype='object')
precios
Index(['Unnamed: 0', 'GTQ/USD', 'GTQ/GALON', 'GTQ/GALON.1', 'GTQ/GALON.2',
       'GTQ/GALON.3', 'GTQ/CIL 25 LB', 'GTQ/LB'],
      dtype='object')

In [14]:
importaciones.head()

,Fecha,Aceites lubricantes,Asfalto,Bunker,Ceras,Combustible turbo jet,Diesel bajo azufre,Diesel ultra bajo azufre,Gas licuado de petróleo,Gasolina de aviación,...,Naftas,Petcoke,Petróleo crudo,Solventes,Butano,Diesel alto azufre,MTBE,Orimulsión,Petróleo reconstituido,Total importación
0,2001-01-01 00:00:00,0.0,27748.99,214581.84,0.0,0.0,0.0,0.0,194065.738095,820.0,...,0.0,0.0,0.0,0.0,0.0,566101.99,8402.0,0.0,715344.0,2.312639e+06
1,2001-02-01 00:00:00,0.0,7503.57,294609.00,0.0,0.0,0.0,0.0,170703.380952,3054.0,...,0.0,0.0,0.0,0.0,0.0,489525.80,0.0,0.0,370166.0,1.769209e+06
2,2001-03-01 00:00:00,0.0,26304.32,315263.80,0.0,0.0,0.0,0.0,161837.371429,677.0,...,0.0,0.0,0.0,0.0,0.0,575559.68,0.0,0.0,360530.0,1.945770e+06
3,2001-04-01 00:00:00,0.0,7885.89,205653.00,0.0,0.0,0.0,0.0,163048.642857,3399.0,...,0.0,0.0,0.0,0.0,0.0,437745.42,8184.0,0.0,359527.0,1.623638e+06
4,2001-05-01 00:00:00,0.0,8443.16,278371.30,0.0,0.0,0.0,0.0,171518.861905,585.0,...,0.0,0.0,0.0,0.0,0.0,552609.13,12680.0,0.0,723346.0,2.262727e+06

In [8]:
precios.head()

,Unnamed: 0,GTQ/USD,GTQ/GALON,GTQ/GALON.1,GTQ/GALON.2,GTQ/GALON.3,GTQ/CIL 25 LB,GTQ/LB
0,2023-01-01 00:00:00,7.85222,32.55,30.99,33.75,15.99,122.0,4.88
1,2023-01-02 00:00:00,7.85222,32.55,30.99,33.75,15.99,122.0,4.88
2,2023-01-03 00:00:00,7.84773,32.56,31.42,35.31,16.39,122.0,4.88
3,2023-01-04 00:00:00,7.84906,32.56,31.42,35.31,16.39,122.0,4.88
4,2023-01-05 00:00:00,7.85221,32.56,31.42,35.31,16.39,122.0,4.88

In [9]:
consumo.head()

,Fecha,Aceites lubricantes,Asfalto,Bunker,Ceras,Combustible turbo jet,Diesel bajo azufre,Diesel ultra bajo azufre,Gas licuado de petróleo,Gasolina de aviación,...,Kerosina,Mezclas\noleosas,Naftas,PetCoke,Petróleo crudo,Solventes,Butano,Diesel alto azufre,Orimulsión,Total
0,2000-01-01 00:00:00,0.0,48446.0,296766.99,0.0,0.0,0.0,0.0,194410.476190,1426.0,...,64026.09,0.0,0.0,0.0,0.0,0.0,0.0,634667.06,0.0,1.750545e+06
1,2000-02-01 00:00:00,0.0,50597.0,328116.44,0.0,0.0,0.0,0.0,174710.552381,1458.0,...,62660.30,0.0,0.0,0.0,0.0,0.0,0.0,642380.66,0.0,1.773220e+06
2,2000-03-01 00:00:00,0.0,27593.0,368589.63,0.0,0.0,0.0,0.0,189234.066667,1503.0,...,61361.99,0.0,0.0,0.0,0.0,0.0,0.0,699807.25,0.0,1.909499e+06
3,2000-04-01 00:00:00,0.0,53794.0,396300.47,0.0,0.0,0.0,0.0,174330.607143,1561.0,...,61814.32,0.0,0.0,0.0,0.0,0.0,0.0,586803.98,0.0,1.800933e+06
4,2000-05-01 00:00:00,0.0,60137.0,449368.92,0.0,0.0,0.0,0.0,191745.147619,1642.0,...,54098.32,0.0,0.0,0.0,0.0,0.0,0.0,656948.20,0.0,1.941772e+06

## Arreglando los datos

In [19]:
importaciones.rename(columns={'Gasolina superior': 'Superior','Gasolina regular': 'Regular'}, inplace=True)
consumo.rename(columns={'Gasolina superior': 'Superior','Gasolina regular': 'Regular'}, inplace=True)

In [22]:
Relevantes=['Fecha', 'Superior', 'Regular', 'Diesel alto azufre']
SinFecha=['Gasolina superior', 'Gasolina regular', 'Diesel alto azufre']
consumes = consumo[Relevantes]
imports = importaciones[Relevantes]


# a partir de la linea 288 para consumo ya no se toma en relevancia
# para importaciones 276
consumo = consumo[:288]
importaciones = importaciones[:276]
consumes = consumes[:270]
imports = imports[:270]

In [24]:
consumes.head()

                 Fecha   Superior    Regular  Diesel alto azufre
0  2000-01-01 00:00:00  308156.82  202645.20           634667.06
1  2000-02-01 00:00:00  307766.31  205530.96           642380.66
2  2000-03-01 00:00:00  331910.29  229499.56           699807.25
3  2000-04-01 00:00:00  315648.08  210680.40           586803.98
4  2000-05-01 00:00:00  319667.97  208164.34           656948.20